  
  .discount-div{
    clip-path: polygon(100% 0, 0% 100%, 0 0);
    background-color: white;
    color: black ;
    display: flex;
    align-items: center;
    width: 70px;
    height:70px
  }
  .transition-transform{
    transition: opacity 0.5s ease; 
  }
  
    .card-zoom {
      overflow: hidden;
      position: relative;
      transition: transform 0.5s ease;
    }
    
    /* Menu div initial state */
  .menu {
      position: absolute;
      top: 3px;
      right: 3px;
      background: white;
      width: 40px;
      
      opacity: 0; /* Hidden initially */
      visibility: hidden; /* Hidden initially */
      transition: opacity 0.5s ease, visibility 0.5s ease;
  }
  
  /* Show menu on hover */
  .card-zoom:hover .menu {
      opacity: 1; /* Visible on hover */
      visibility: visible; /* Visible on hover */
  }
  
    .zoom-effect {
      position: relative;
      overflow: hidden;
    }
    
    .zoom-effect img {
      transition: opacity 0.3s ease-in-out, transform 0.5s ease;
      display: block;
      width: 100%;
      height: auto; /* Adjust as necessary */
    }
    
    .card-zoom:hover .zoom-effect img {
      transform: scale(1.1); /* Adjust the scale value to fit your design */
    }
    
    .zoom-effect:hover img:first-child {
      opacity: 0;
    }
    
    .zoom-effect:hover img:last-child {
      opacity: 1;
    }
    
  