.tableTittle {
    margin-top: 40px;
    margin-bottom: -35px;
  }
  .table {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid black;
  }
  th {
    border: 1px solid black;
    color: white !important;
    background-color:  #F26626 !important;
    text-align: center;
  }
  td {
    border: 1px solid #F26626;
    text-align: center;
  }